body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  outline: red 1px solid;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button img {
  width: 100%;
  max-width: 75px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 28%;
  border-radius: 600px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-score-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.reset-score-button:hover, .move-button:hover {
  background-color: white;
  color: rgb(25, 25, 25);
}
